.form-login
  %p.hero-body Log In
  %hr
  %form{:action => "/login", :method => "post", :novalidate => ""}
    %input{:type=>'hidden', :value => @app_name, :name => 'app_name'}
    .prominent
      -if (flash[:error])
        .error{:style => "color:red"}
          %span.flash=flash[:error]
          - flash[:error] = nil
          %a{:href=>"https://my.cloudfoundry.com/passwd", :rel => "external"}Forgot password?
      %label{:for => "username"} Email
      %input#username{:autofocus => "autofocus", :name => "email", :type => "email", :value => params[:email]}
        %label{:for => "password"} Password
        %input#password{:name => "password", :type => "password"}

    %button{:type => "submit"} Log In
  %hr
  %label Don't have an account yet?
  %p.orange-button
    %a{:href => @signup_url, :target =>"_blank"}
      = 'Sign Up'
      %span for
      = "Cloud Foundry"
    / .buttons
