- content_for :hero do
  %p.hero-header Success

- content_for :subhead do
  %p.sub-head Success
  %a.button-plain{:href => @app_url} View App

%p
  %span You have successfully created your
  %strong #{@sample_app_info.display_name}
  %span app on Cloud Foundry.

%p
  %span However, since you changed the name of your app you need to go back to
  %a{:href=>@sample_app_info.starting_url} your service provider
  %span and edit the callback uri to:
  %a{:href => @app_url}=@app_url

