%dl
  .app_header
    .app_image
      %img{:src => @thumb_url}
    .app_description
      %h1=@title
      %p=@sample_app_info.description

  .clear
  %form{:action=> "/apps/#{@app_name}/deploy", :method => :post}

    .advanced.hidden
      %dd
        %label{:for=>'source_code'} Source code
        %input.short{:name=>'source_code', :type => 'text', :value => @sample_app_info.git_repo, :disabled => true}
        %span /zipball/master
      %dd
        %label{:for=>'commit'} Commit
        %input.short{:type => "text", :name =>"commit", :value => @sample_app_info.git_commit, :disabled => true}
      %dd
        %label{:for=>'branch'} Branch
        %input.short{:type => "text", :name =>"commit", :value => @sample_app_info.git_branch, :disabled => true}

    %dd
      %label{:for => 'new_name'} App Name
      %input.short{:name => 'new_name', :type => 'text', :value => @new_name}
      %span .cloudfoundry.com

    -@sample_app_info.env_vars.each do |env_var, env_value|
      %dd
        %label{:for=>env_var}=env_var
        %input.short{:type=>'text', :value =>env_value, :name => env_var }

    -if session[:email]
      %dd
        .buttons
          %button{:type => 'submit', :enabled => false} Deploy
